
# base deps
# ---------

git+https://github.com/jcmgray/xyzpy.git

# qiskit deps
# -----------

websocket-client >=1.0.1
fastjsonschema
retworkx <=0.8.0,>=0.7.0
requests-ntlm
dlx
multitasking

qiskit == 0.27.0
qiskit-aer == 0.8.2
qiskit-aqua == 0.9.2
qiskit-ibmq-provider == 0.14.0
qiskit-ignis == 0.6.0
qiskit-terra == 0.17.4

docplex == 2.15.194
yfinance <= 0.1.55

# pytket deps
# -----------

pytket
pytket-qiskit
graphviz
types-pkg-resources

# quimb deps
# ----------

pytest-cov
git+git://github.com/jcmgray/quimb.git@develop
# tensorflow

# qcoptim deps
# ------------

git+git://github.com/FredericSauv/qc_optim.git

gpy
gpyopt
pyDOE
# openfermion
qutip
# pyscf
# -> openfermion
# cirq
# pubchempy
